@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap);

/* || General styles */

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.header,
.navbar {
  height: 40px;
}

#headline {
  margin-top: 40px;
  height: calc(100vh - 40px);
  background-color: #fff;
  border-bottom-left-radius: 100px;
  background-image: url(images/dtp-header-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#about { border-top-right-radius: 100px; }

#contacts {
  border-top-left-radius: 100px;
  background-image: url(images/dtp-contact-bg.svg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

#message { height: 140px; }

/* || Typography */
